

@media screen and (min-width:1891px){
 
.main-contact{
  padding-left: 13%;

}
.info-element{
  padding-left: 30%;
}

}

@media screen and (min-width:1501px) and (max-width:1890px){
  .main-contact{
    padding-left: 10%;
  }
  
  .info-element{
    padding-left: 30%;
  }
  
 
}
/* 
@media screen and (max-width:1400px){
  .main-contact{
    margin: 30px;
  }
  .footer-contact{
    padding: 23px 30px;
  }
  .author{
    padding-right: 0;
  }
} */

@media screen and (max-width:1400px){
  .main-contact{
    margin: 20px;
  }
 
  .header-contact{
    flex-direction: column;
  }
  .header__col--stretch{
    flex-direction: column;
  }
  .wrap{
    margin-left: -85px;
  }
  
  /* .text{
    text-align: center;
  }
  .text__content{
    margin: 0 auto;
  } */
  
  .img{
    
    margin-left: -85px;
  }
  .footer__text{
    margin-right: 15px;
   
    
    margin-bottom: 50px;
  }
  .footer-contact{
    padding: 23px 30px;
  }
  .author{
    padding-right: 0;
  }
}
@media screen and (max-width:768px){
  body{
    background-color: rgba(0, 255, 255, 0.294);
  }
  .header__col{
    padding-right: 40px;
  }
  .header__col--stretch{
    
  }
  .logo{
    padding-right: 50px;
    padding-left: 50px;
  }
  .wrap-blog{
    flex-direction: column;
    margin-right: 30px;
  }
  .img{
    height: 75%;
    margin-top: 90px;
  }
  .footer__text{
    text-align: center;
  }
  .footer-contact{
text-align: center;
  }
  .label{
  
  }
  .content_info_example{
    word-break: break-all;
  }
  .article{
    
  }}
@media screen and (max-width:500px){
  body{
    width: 600px;
  }
  .form{
  padding-right: 50px;
  }
  .main{
    flex-direction: column-reverse;
    align-items: center;
  }
  
.footer__text{
  margin-left: -10px;
  text-align: center;
}  
.img{
  height: 50%;
  margin-top: 160px;
}
  .main-contact{
flex-direction: column;
text-align: center;

  }
  .content_title{
    padding-right: 30px;
  }
 
  .wrap-blog{
    margin-right: 30px;
  }
  .footer-contact{
    flex-direction: row;
    margin-left:-100px;
  }
  .logo{
    padding: 0 15px ;
  }
  .author{
    word-break: initial;
    margin-right: -90px;
  }
  

  .content_title{
    margin-left: 50px;
  }

 
  
}