@media screen and (max-width:2560px){
  .main-footer{
    /* margin-left: 260px; */
  }
  .info-element{
    
  }
  .form{
    /* margin-left: 600px;
    margin-right: 300px; */
  }

}

@media screen and (max-width:1400px){
  .main-footer{
    margin: 30px;
  }
  .footer-footer{
    padding: 23px 30px;
  }
  .author{
    padding-right: 0;
  }
}

@media screen and (max-width:860px){
  .main-footer{
    margin: 20px;
  }
  .footer-footer{
    /* padding: 23px 20px; */
  }
  .header-footer{
    flex-direction: column;
  }
  .header__col--stretch{
    flex-direction: column;
  }
  .mainer{
    margin-left: -85px;
  }
  
  .text{
    text-align: center;
  }
  .text__content{
    margin: 0 auto;
  }
  .footer-footer{
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
  }
  .img{
    
    margin-left: -85px;
  }
  .footer__text{
    margin-right: 15px;
   
    margin-top: -100px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width:768px){
  body{
    background-color: rgba(0, 255, 255, 0.294);
  }
  .header__col{
    padding-right: 40px;
  }
  .header__col--stretch{
    
  }
  .logo{
    padding-right: 100px;
    padding-left: 65px;
  }
  .wrap-blog{
    flex-direction: column;
    margin-right: 30px;
  }
  .article{
    margin: 15px 0;
  }}
/* @media screen and (max-width:660px){
  .footer{
    padding: 23px 25px;
  }
  .form{
    margin-right: 90px;
  }
  .author{
    padding-left: 20px;
  }
  body{
  
  }
} */
@media screen and (max-width:500px){
  body{
    width: 600px;
  }
  .form{
    margin: 0;
  }
  .main{
    flex-direction: column-reverse;
    align-items: center;
  }
  .info-element{
    text-align: center;
    margin-top: -35px;
    margin-bottom: 15px;
    width: 100%;
  }
  /* .author{
    padding-left: 20px;
    word-break: break-all;
  } */
  .wrap-blog{
    margin-right: 30px;
  }
  .footer-footer{
    flex-direction: row;
    margin-left:-100px;
  }
  .logo{
    padding: 0 15px ;
  }
  .author{
    word-break: initial;
    margin-right: -90px;
  }
}
@media screen and (max-width:320px){
  body{
    width: 325px;
  }
  .title-name{
    word-break: break-word;
  }
  .header{
flex-direction: column;
  }
  .text__content{

  }
  .img{
margin: 0;
  }
  .wrap{
    flex-direction: column;

  }
  .wrap--fix{

  }
  .footer__text{
    margin-left: -75px;
  }
  .text-blog{

  
  }
  .main-footer{
    flex-direction: column;
  }
  .header__col{
    padding: 0;
  }
  .navigation{
    padding-left: 50px;
  }
  .article{

  }
  .mainer-blog{

  }
  .wrap-blog{
margin-right: 30px;
  }
  .form{
    width: 100%;
  }
  .info-element{
    
    display: contents;
  }
  .content_title{
    /* margin-left: 50px; */
  }
  .footer-footer{
    flex-direction: row;
    margin: 0;
  }
  .logo{
    padding: 0 15px ;
  }
  .author{
    word-break: initial;
    padding: 0;
  }
}
@media screen and (max-width:768px){
  /* .header-footer{
    flex-direction: column;
  }
  .header__col--stretch{
    flex-direction: column;
  }
  .text-footer{
    text-align: center;
  }
  .text__content{
    margin: 0 auto;
  }
  .footer-footer{
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
  }
  .img{
    margin: 0 auto;
  }
  .footer__text{
    padding: 0;
  } */

}
/* @media screen and (max-width:990px){

}


@media screen and (max-width:990px){
  body{
    background-color: rgba(255, 0, 0, 0.239);
  }
  }
  @media screen and (max-width:768px){
  body{
    background-color: rgba(0, 255, 255, 0.294);
  }
  
  
  .wrap-blog{
    flex-direction: column;
  
  }
  .article{
    margin: 15px 0;
  }
  
  }
   */