.mainer{
  max-width: 1920px;
  margin: 0 auto; 
}
.header{
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  text-align: center;
  background-position: center;
}
.header__logo{
  padding-top: 285px;
  padding-bottom: 80px;
}
.header__link{
  text-decoration: none;
  cursor: pointer;
}
.header__title:hover{
 color: aquamarine;
}
.header__title{
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
  padding-bottom: 40px;
  letter-spacing: 11px;
}
.header__text{
  font-size: 15px;
  text-transform: uppercase;
  max-width: 578px;
  word-spacing: 5px;
  display: inline-block;
  line-height: 30px;
  padding-bottom: 400px;
}
.fieldset {
  border:  2px solid #3c3c3c;
  font-weight: bold;
  font-size: 34px;
  max-width: 900px;
  padding: 0;
  padding-bottom: 30px;
  margin: 145px auto 160px auto ;
  box-sizing: border-box;
}
 .fieldset__title{
  padding: 0 104px;
  text-align: center;
  margin-bottom: 40px; 
}
.fieldset__title-link{
  color: #3c3c3c;  
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 5px;
}
.fieldset__title-link:hover
{
  color: aquamarine;
}
.fieldset__text{
  color: #3c3c3c;
  font-weight: 300;
  font-size: 16px;
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}
.fieldset__text--modified{
  max-width: 365px;
}
.fieldset__text--modified-new{
  max-width: 450px;
  text-indent: 20px;
}
.services{
  background-image: url(../img/bg2.jpg);
  padding-top: 115px;
  padding-bottom: 110px;
  box-sizing: border-box;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.fieldset--services{
  margin: 0 auto;  
  border-color: white;
}
.fieldset__title--services{
  color: white;
  padding:0 115px ;
}
.fieldset__title-link--fix{
  color: white;
}
.fieldset__text--services{
  color: white;
  max-width: 550px;
}
.fieldset__text--services-modified{
  max-width: 525px;
  color: white;
}
.fieldset--change{
  margin-top: 105px;
  padding-bottom: 90px;
}
.fieldset__title--change{
  padding: 0 75px;
  margin-bottom: 115px;
}
.fieldset__logo-img{ 
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.fieldset__logo-title{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #3c3c3c;
  display: block;
  text-align: center;
  margin: 35px auto 25px auto; 
}
.fieldset__text--change-new{
  max-width:465px ;
  font-size: 14px;
}
.fieldset__text--change{
  max-width: 552px;
  font-size: 14px;
}
.fieldset__text--new{
  text-indent: 20px;
  font-size: 14px; 
}
.fieldset__text--style{
  max-width: 535px;
  font-size: 14px;  
}
.nav__el{
  display: flex;
  width: 100%;
  justify-content: space-between;  
}

.nav__list{
  width: 50%;
  padding: 0;
  list-style: none;
}
.nav__list--fix{
  width: 75%;  
}
.nav__item{
  background-image: url(../img/top.png);
  margin: 0 5px 10px 5px;
  height: 237px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.nav__item:hover{
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
}
.nav__item--new{
  background-image: url(../img/joint.png);
}
.nav__item--market{
  background-image: url(../img/market.png);
}
.nav__item--worktop{
  background-image: url(../img/work.png);
}
.nav__item--lable{
  background-image: url(../img/label.png);
}
.nav__item--city{
  background-image: url(../img/city.png);
}
.nav__title{
  position: absolute; 
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  left: 48px;
  word-break: break-word;
  bottom: 45px; 
}
.fieldset--contact{
  margin: 130px auto 0 auto;
}
.fieldset__title--contact{
  padding: 0 100px;
  margin-bottom: 45px;
}
.button{
  background-color: #3c3c3c;
  color: white;
  width: 395px;
  text-transform: uppercase;
  border: 0;
  font-size: 16px;
  display: block;
  padding: 23px 0;
  margin:45px auto  ;
  cursor: pointer;
}
.button:hover{
  background-color: hsl(0, 3%, 39%);
}
.foot{
  display: flex;
  width: 100%;
  align-items: center;
  padding:  65px 0;
}
.foot__logo-link{
  margin: 0 0 auto auto;
  color: #3c3c3c;
}
.foot__text{
  color: #3c3c3c;
  margin: 0 auto 0 35px;
  font-size: 14px;
}


@media screen and (max-width:786px){
  body{
    width: 786px;
  }
  .nav__el{
    flex-direction: column;
    margin: 0;
  }
  .nav__list{
    display: flex;
    width: 100%;
    margin: 0;
  }
  .nav__item{
    width: 50%;
  }
  
  
}
/* @media screen and (max-width:520px){
body{
  width: 520px;
}
  .nav__list{   
    width: 100%;
    flex-direction: column;
} 
  .nav__item{
    width: 100%;
    margin: 10px 0;
  }
} */
@media screen and (max-width:480px){ 
  body{
  /* width:480px; */
  margin: 0;
    }
    .nav__list{   
      /* width: 100%; */
      flex-direction: column;
  } 
    .nav__item{
      width: 100%;
      margin: 10px 0;
    }
    .nav__item:hover{
      transform: scale(1);
      
    }
}

